$primary: #1976d2;
$secondary: #9c27b0;
$error: #d32f2f;
$info: #0288d1;
$warning: #ed6c02;
$success: #1a8870;

$colorNames: (
  "primary" $primary,
  "secondary" $secondary,
  "error" $error,
  "info" $info,
  "warning" $warning,
  "success" $success
);
