@import "../../Assets/styles/variables";

//demo
.demo-icons {
  display: flex;
  flex-wrap: wrap;
  li {
    padding: 14px 10px;
    flex-shrink: 1;
    flex-grow: 1;
    max-width: 200px;
    transition: 0.2s ease-out;
    opacity: 0.8;
    &:hover {
      opacity: 1;
      color: var(--green);
    }
    .name {
      display: block;
      margin-top: 10px;
      font-size: 12px;
      color: currentColor;
    }
  }
}

.components-section {
  margin: 40px auto;
  .demo-type-list {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    li {
      color: #333;
    }
    b {
      color: var(--darkColor);
    }
  }
}

.rowed {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .toggler {
    font-size: 18px;
    margin: 0 20px 0 0;
  }
}

@include screen(sm) {
  .sec-wrapper {
    display: flex;
  }
  .components-section {
    max-width: 50%;
    padding: 0 20px;
    flex: 1;
  }
  .demo-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
  }
}

@include screen(md) {
  .components-section {
    padding: 0 40px;
  }
  .demo-section {
    padding: 0 40px;
    margin: {
      top: 40px;
      left: -10px;
      right: -10px;
      bottom: 0;
    }
  }
}
